.background-image {
    background: url('../images/nature4.jpg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .account-container {
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Increased transparency */
    border-radius: 10px;
    max-width: 400px; /* Adjusted max-width for centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .account-option {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
  }

  .account-option.login {
    background-color: #28a745;
  }

  .quote {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
  }