/* styles.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  /* Header Styles */
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .nav-link {
    font-size: 1.1em;
  }
  
  /* Footer Styles */
  footer {
    background-color: #343a40;
    color: white;
  }
  
  footer p {
    margin: 0;
  }
  
  

/* Header Background Image */
header {
  background-image: url('../images/stones.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}
