{% extends 'admin/main.html' %}

{% block content %}

<div class="center">
    <div class="books-form delete-form-container">
        <h3>Are you sure you want to deny booking for {{ booking.username }}?</h3>
        <form method="POST" action="{{ url_for('user.deny_booking', booking_id=booking.id) }}">
            <div class="delete-button-container">
                <a href="{{ url_for('user.bookings') }}" class="edit-button">Go Back</a>
                <button type="submit" class="delete-button">Deny Booking Request</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
