{% extends 'admin/main.html' %}

{% block content %}
<div class="center">
    <div class="form-container books-form">
        <h3 class="books-form-header">Update Tour</h3>
        <form method="post" action="{{ url_for('user.update_tour', tour_id=tour['id']) }}">
            <div class="input-container">
                <label class="input-label" for="tour-title">Title: </label>
                <input value="{{ tour['title'] }}" class="input" id="tour-title" name="title" type="text" />
            </div>
            <div class="input-container">
                <label class="input-label" for="tour-location">Location: </label>
                <input value="{{ tour['location'] }}" class="input" id="tour-location" name="location" type="text" />
            </div>
            <div class="input-container">
                <label class="input-label" for="tour-price">Price: </label>
                <input value="{{ tour['price'] }}" class="input" id="tour-price" name="price" type="text" />
            </div>
            <div class="input-container">
                <label class="input-label" for="tour-description">Description: </label>
                <textarea class="input" id="tour-description" name="description">{{ tour['description'] }}</textarea>
            </div>
            <button class="submit-button">
                Edit Tour
            </button>
        </form>
    </div>
</div>
{% endblock %}
