{% extends 'layout.html' %}
{% block title %}Register - Wonderlust Tours{% endblock %}
{% block styles %}
<style>
  .form-container {
    background-color: rgba(255, 255, 255, 0.7); /* Increased transparency */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px; /* Increased max-width */
    margin: 50px auto;
  }
  .background-image {
    background: url('{{ url_for('static', filename='images/nature3.jpg') }}') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %}
{% block content %}
<div class="background-image">
  <div class="form-container">
    <h2>Register</h2>
    <form method="post" action="{{ url_for('user.register') }}">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
{% endblock %}
