{% extends 'layout.html' %}
{% block title %}Tour Details - Wonderlust Tours{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tours.css') }}">
{% endblock %}

{% block content %}
<h2>Tour Details for {{ user['username'] }}</h2>
<p><strong>Email:</strong> {{ user['email'] }}</p>


<h3>Your Bookings</h3>
{% if bookings %}
  <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </div>


  <div id="tourList" class="row">
    {% for booking in bookings %}
    <div class="col-md-4">
        <div class="card mb-4">

            <img src="{{ url_for('static', filename='images/' ~ tour.image_filename) }}" class="card-img-top" alt="{{ tour.title }}">
            <div class="card-body">
                <h5 class="card-title"><strong>Titile : </strong>{{ booking.title }}</h5>
                <p class="card-text"><strong>Price : </strong>{{ booking.price }}</p>
                <p class="card-text"><strong>Location : </strong>{{ booking.location }}</p>
                <p class="card-text"><strong>Status : </strong> {{ booking.status }}</p>
                <p class="card-text"><strong>Date : </strong>{{ booking.date_of_booking }}</p>
                {% if booking.status == 'pending' %}
                  <a href="#" class="btn btn-warning">Pending</a>
                {% elif booking.status == 'accepted' %}
                  <a href="#" class="btn btn-success">Accepted</a>
                {% elif booking.status == 'denied' %}
                  <a href="#" class="btn btn-danger">Denied</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

{% else %}
  <p>You have no bookings yet.</p>
{% endif %}
{% endblock %}
