{% extends 'layout.html' %}
{% block title %}Tours - Wonderlust Tours{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tours.css') }}">
{% endblock %}

{% block content %}
<div class="slideshow-background">
  <img src="{{ url_for('static', filename='images/china.jpg') }}" class="active">
  <img src="{{ url_for('static', filename='images/swan.jpg') }}">
  <img src="{{ url_for('static', filename='images/bread.jpg') }}">
  <img src="{{ url_for('static', filename='images/starfish.jpg') }}">
  <img src="{{ url_for('static', filename='images/tracks.jpg') }}">
  <img src="{{ url_for('static', filename='images/journey.jpg') }}">
</div>


    <div class="content-overlay">
        <h2 class="text-center">Available Tours</h2>
        <div class="filters mb-4">
          <form class="form-inline justify-content-center">
            <div class="form-group mr-3">
              <label for="filterPrice">Price:</label>
              <input type="number" class="form-control" id="filterPrice" placeholder="Enter max price in $USD">
            </div>
            <div class="form-group mr-3">
              <label for="filterLocation">Filter by Location:</label>
              <select class="form-control" id="filterLocation">
                <option value="all">All Locations</option>
                <option value="europe">Europe</option>
                <option value="asia">Asia</option>
                <option value="north-america">North America</option>
                <option value="south-america">South America</option>
                <option value="africa">Africa</option>
                <option value="australia">Australia</option>
                <option value="caribbean">Caribbean</option>
              </select>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" id="btnApplyFilters">Apply Filters</button>
            </div>
          </form>
        </div>
      </div>
      
<div id="tourList" class="row">
    <!-- Tour items will be inserted here dynamically -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  // Passing the base URL from Flask to JavaScript
  var baseURL = "{{ url_for('static', filename='images/') }}";
</script>
<script src="{{ url_for('static', filename='js/tours.js') }}"></script>

{% endblock %}
